:root{
  --mainBlue: #9FB4FF;
  --lightBlue: #009ffd ;
  --mainWhite: #46244C;
  --mainDark:  #712B75;
  --mainYellow: #FFD36E ;
}
body{
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;  
}
.text-title{
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}
.btn-black{
  /* background: transparent; */
  background: fixed;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainWhite);
  border-radius: 0.3rem !important;
  border: 0.1rem solid var(--mainWhite) !important;
}
.btn-black:hover{
  background: var(--mainWhite) !important;
  color: var(--mainWhite) !important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}